<h1>VivoTalent</h1>
<p class="lead">Exceptional talent, on demand.</p>

<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    <a class="btn btn-warning pull-right" href="#">Contact us</a></p>
  <small>Biotech Company</small>

</blockquote>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus libero velit, auctor et suscipit ut, euismod vitae est. Maecenas imperdiet, arcu ut ornare feugiat, felis justo vehicula magna, id mattis lorem enim et lorem. Aliquam vitae lorem lorem, ut consequat elit. In pulvinar, purus id posuere scelerisque, ipsum justo sagittis erat, ac malesuada velit erat accumsan erat.
</p>
<div class="row">
<div class="span4">
  <h3>Top-tier talent</h3>
  <p>
    Our talent pool is comprised of candidates trained at top universities across the globe.
  </p>
</div>
<div class="span4">
  <h3>Top-tier talent</h3>
  <p>
    Our talent pool is comprised of candidates trained at top universities across the globe.
  </p>
</div>
<div class="span4">
  <h3>Top-tier talent</h3>
  <p>
    Our talent pool is comprised of candidates trained at top universities across the globe.
  </p>
</div>
</div>
<br />
<address>
  <strong>VivoTalent</strong><br>
  795 Folsom Ave, Suite 600<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>