<style>
.nav-pills > li > a {
  color: #333;
  background-color: #fff;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.nav-pills > li > a:hover {
  color: #333;
  background-color: #eee;
}
a, a:hover{
  text-decoration: none;
  color:#333;
}
</style>

<div class="row" style="margin-top:25px;">
  <div class="span8">
    <h1><a href="/">VivoTalent</a> <small>Truly exceptional.</small></h1>
    <!-- <p class="lead">Exceptional talent, on demand.</p> -->
  </div>
  <div class="span4">
    <br />
    <ul class="nav nav-pills pull-right">
<!--       <li class=""><a href="#">Services</a></li>
      <li class=""><a href="#">About Us</a></li> -->
      <li class=""><a href="/client_login">Client login</a></li>
    </ul>
  </div>
</div>

<div class="row" style="box-shadow: 0px 0px 5px #ccc;padding: 20px 0px;">
  <div class="span9" style="background:url('/img/shanghai_night.jpg');height:200px;background-size:cover;background-position:0% 13%;background-repeat:none;">
  </div>
  <div class="span3">
    <p class="lead">
      <b>VivoTalent</b> is a premier <b>recruiting</b>, <b>executive search</b>, and <b>advisory</b> firm specializing in life science and biotech.
    </p>
  </div>
</div>
<br />
<div class="row">
  <div class="span9">
    <h3>Top-tier candidates</h3>
    <p>
      Vivo Talent is a boutique talent search firm with a focus on the healthcare space. Our consultants, area leaders and geographical heads are well seasoned professionals around the life science business.  As part of the industry we serve we are able to quickly deliver bespoke recruitment solutions to our clients.
    </p>
    <p>
      Based in Hong Kong, we cover the Asia Pacific region; our team has extensive working experience in Japan, Korea, China, Taiwan, Hong Kong, Vietnam, Philippines, Thailand, Malaysia, Singapore, Indonesia and India.
    </p>
  </div>
  <div class="span3">
    <h3>Contact Us</h3>
    <address>
      <strong>VivoTalent</strong><br />
      795 Folsom Ave, Suite 600<br />
      San Francisco, CA 94107<br />
      123-456-7890 <abbr title="Phone">(phone)</abbr>
      info@vivotalent.com
    </address>
  </div>
</div>