<h1>VivoTalent</h1>
<p class="lead">Life sciences talent on demand.</p>

<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <small>Biotech Company</small>
</blockquote>

<address>
  <strong>VivoTalent</strong><br>
  795 Folsom Ave, Suite 600<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>