<style>
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #fff;
  background-color: #333;
}
</style>

<div class="row" style="margin-top:25px;">
  <div class="span6">
    <h1>VivoTalent</h1>
    <p class="lead">Exceptional talent, on demand.</p>
  </div>
  <div class="span6">
    <br />
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#typography">Home</a></li>
      <li class=""><a href="#navbar">Services</a></li>
      <li class=""><a href="#buttons">About Us</a></li>
    </ul>
  </div>
</div>

<div class="row" style="box-shadow: 0px 0px 5px #ccc;padding: 20px 0px;">
  <div class="span9" style="background:url('/img/shanghai_night.jpg');height:200px;background-size:cover;background-position:0% 13%;background-repeat:none;">
  </div>
  <div class="span3">
    <p class="lead">
      <b>VivoTalent</b> is a premier <b>recruiting</b>, <b>executive search</b>, and <b>advisory</b> firm specializing in life science and biotech.
    </p>
  </div>
</div>
<br />
<div class="row">
  <div class="span9">
    <h3>Top-tier talent</h3>
    <p>
      Our talent pool is comprised of candidates trained at top universities across the globe. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus libero velit, auctor et suscipit ut, euismod vitae est. Maecenas imperdiet, arcu ut ornare feugiat, felis justo vehicula magna, id mattis lorem enim et lorem. Aliquam vitae lorem lorem, ut consequat elit. In pulvinar, purus id posuere scelerisque, ipsum justo sagittis erat, ac malesuada velit erat accumsan erat.
    </p>
  </div>
  <div class="span3">
    <h3>Contact Us</h3>
    <address>
      <strong>VivoTalent</strong><br />
      795 Folsom Ave, Suite 600<br />
      San Francisco, CA 94107<br />
      123-456-7890 <abbr title="Phone">(phone)</abbr>
      info@vivotalent.com
    </address>
  </div>
</div>